<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>asden.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>71485FBE1F1C87E600FCCF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71485FD21F1C87E600FCCF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>71485FDD1F1C87E600FCCF5F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
